<html>
  <body  id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' (click)="toggleNavbar()" id="header-toggle"></i> </div>
  
       <div class="header_user">
        <div class="header_text">{{this.username}}</div>
        <div class="header_img"> <img src="assets/profiles/users/img{{this.username}}.png"  onerror="this.src='assets/profiles/defaut.png'" alt=""> </div>
</div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
              
                <a class="nav_logo"  >
                  <img id="logo" src="{{logo}}" class="img-fluid" width="0" height="0">
                  
                  
                </a>
                <div class="nav_list"> 
                   
                    <a routerLink="/patient"  class="nav_link "> 
                        <i class='bx bx-user nav_icon'></i> 
                        <span class="nav_name">Patients</span> 
                    </a> 
                    <a routerLink="/events"  class="nav_link"> 
                        <i class='bx bx-calendar nav_icon'></i> 
                        <span class="nav_name">Rendez-Vous</span> 
                    </a> 
                    <a routerLink="/compta"  class="nav_link active"> 
                        <i class='bx bx-calculator nav_icon'></i> 
                        <span class="nav_name">Activités</span> 
                    </a> 
                    
                    <a routerLink="/stat"  class="nav_link"> 
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                        <span class="nav_name">Statistique</span> 
                    </a> 
                    <a routerLink="/employes"  class="nav_link "> 
                      <i class='bx bx-grid-alt nav_icon'></i> 
                      <span class="nav_name">Employés</span> 
                  </a> 
                    <a  *ngIf="this.role=='superadmin'"  routerLink="/parametres"  class="nav_link"> 
                      <i class='bx bx-certification nav_icon'></i> 
                      <span class="nav_name">Administration</span> 
                  </a> 
                </div>
            </div> 
            <a (click)="logout()"  class="nav_link"> 
                <i class='bx bx-log-out nav_icon'></i> 
                <span class="nav_name">Déconnexion</span> 
            </a>
        </nav>
    </div>
    <br>
               <!--Container Main start-->
               <div class="height-100vh ">
              
               
              
                    <!-- For demo purpose -->
                    <tabset  [justified]="true" >
         
                      <tab (selectTab)="selectseance()">   <ng-template  tabHeading>
                        <span class="title">Les Séances </span>
                      </ng-template>
                <br>
                 <div class="card">
                                          <div class="row">
                                              <div class="col-md-4"> <label>Date Début</label> <input [(ngModel)]="this.stardate" type="date" class="form-control"> </div>
                                              <div class="col-md-4"> <label>Date Fin</label> <input [(ngModel)]="this.enddate" type="date" class="form-control"> </div>
                                              <div class="col-md-4"> <label style="height: 47px;"> </label><button (click)="chercherseances()" class="btn btn-primary  w-20"><i class="fa fa-search ml-2"></i></button> </div>
                                          </div>
                                      </div>
                        
           
                <!-- Table -->
          <div class="row">
          
                  <div class="col">
                    
                    <div class="card shadow">
                      
                      <div class="card-header border-0">

                        <h3 *ngIf="!seanceinvalide" class="mb-0">Les Séances  [{{this.seances.length}}]</h3>
                        <h3 style="color:#dc3545" *ngIf="seanceinvalide" class="mb-0">Liste des séances à valider  [{{this.seances.length}}]</h3>
                      </div>
                      <div  *ngIf="inchargement" class="chargcontainer">
                        <div class="image-container">
                          <img [src]="charg"  >
                        </div>
                      </div> 
                      <div  *ngIf="!inchargement" class="table-responsive">
                        <button   (click)="getlastseances()" class="btn btn-warning btn-circle btn-circle-sm m-1 " title="liste des récents Séances effectués"><i class="fa fa-list "></i></button>     
                        <button   (click)="getseancesinvalide()" class="btn btn-danger btn-circle btn-circle-sm m-1 " title="Liste des séances à valider."><i class="fa fa-check-square "></i></button>                                                       

                        <table class="table align-items-center table-flush">
                          <thead class="thead-light">
                            <tr class="entete">
                              <th scope="col">Patient</th>
                              <th scope="col">Date</th>
                              <th scope="col">Détails</th>
                              <th *ngIf="seanceinvalide && this.role=='superadmin'"  scope="col">Actions</th>    
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let seance of seances | paginate: {id:'pagination1', itemsPerPage: 20, currentPage: pages}">
                              <th scope="row">
                                <div class="media align-items-center">
                                  <a [routerLink]="['/profile', seance.spid]" target="_blank" class="avatar rounded-circle mr-3">
                                    <img alt="Image placeholder"src="assets/profiles/img{{seance.spid}}.png?random={{randomNumber}}"  onerror="this.src='assets/profiles/defaut.png'">
                                  </a>
                                  <div class="media-body">
                                    <span class="mb-0 text-sm"><a >{{seance.pnom }}</a></span>
                                  </div>
                                </div>
                              </th>
                              <td>
                               
                                <span class="badge badge-dot mr-4">
                                  {{seance.sdate| date:'dd'}}-{{getMonthName(seance.sdate| date:'MM')}}-{{seance.sdate| date:'yyyy'}}
                                </span>  
                              </td>
                              <td>
                                <ng-container *ngFor="let detail of seance.details; let i = index">
                                <span class="badge badge-dot mr-4">
                                  <i class="bg-success"></i> {{ gettraitById(detail.split(',')[0]) }} [{{ detail.split(',')[1] }}]
                                </span>
                                <br>
                                </ng-container>
                              </td>
                              <td *ngIf="seanceinvalide && this.role=='superadmin'" >
                                <div class="primary-btn">
                                  <button id="deleteButton" (click)="tempinforendez(seance.snote)"class="btn btn-info btn-circle btn-circle-sm m-1" title="Info"><i class="fa fa-info"></i></button>
                                  <button id="editButton" (click)="valideseance(seance.sid)" class="btn btn-success btn-circle btn-circle-sm m-1" title="Modifier"><i class="fa fa-check"></i></button>
                                 
                                </div>
                            </td>
                            </tr>
                    
                            
                          </tbody>
                        </table>
                        <pagination-controls id="pagination1" (pageChange)=" pages = $event" previousLabel="" nextLabel="" class="page"></pagination-controls>
          
                      </div>
                      
                    </div>
                  </div>
                </div>
              
          
            
                      </tab>
                
                
                <tab (selectTab)="selectpaie()">   <ng-template  tabHeading>
                        <span class="title">les Paiements </span>
                      </ng-template>
                <br>
                
                 <div class="card">
                                          <div class="row">
                                              <div class="col-md-3"> <label>Date Début</label> <input [(ngModel)]="this.stardate" type="date" class="form-control"> </div>
                                              <div class="col-md-3"> <label>Date Fin</label> <input [(ngModel)]="this.enddate" type="date" class="form-control"> </div>
                                              <div class="col-md-3"> <label style="height: 47px;"> </label><button (click)="chercher()" class="btn btn-primary  w-20"><i class="fa fa-search ml-2"></i></button> </div>
                                              <div *ngIf="typepaiement=='in'"   class="col-md-1"> <label style="height: 47px;"> </label><button (click)="changetype('out')" class="btn btn-success  w-20"><i class="fa fa-long-arrow-left ml-2"></i></button> </div>
                                              <div *ngIf="typepaiement=='out'"  class="col-md-1"> <label style="height: 47px;"> </label><button (click)="changetype('in')" class="btn btn-danger w-20"><i class="fa fa-long-arrow-right ml-2"></i></button> </div>
                                              <div class="col-md-2"> <label > Mode Paiement</label> <select [(ngModel)]="modeselected"  (ngModelChange)="filtreretat($event)"    >
                                                  <option  value="Tous" >Tous</option>
                                                  <option *ngFor="let mode of modepaie"  value="{{mode.mpid}}">{{mode.mpnm}}</option>  
                                                </select></div>
                                          </div>
                                      </div>
                        
                        
                         <!-- Table -->
                                                    <div class="row">
                                                  
                                                            <div class="col">
                                                              <div class="card shadow">
                                                                <div class="card-header border-0">
                                                                  <h3 class="mb-0" *ngIf="!paiementinvalide">Les Paiements [{{this.paiementfiltrer.length}}] </h3>
                                                                  <h3 class="mb-0" style="color:#dc3545" *ngIf="paiementinvalide" >Liste des Paiements à valider [{{this.paiementfiltrer.length}}] </h3>
                                                                  <h3 class="total">Total : [{{this.paiementfiltrer.total}} UM]</h3>
                                                                </div>
                                                                <div  *ngIf="inchargement" class="chargcontainer">
                                                                  <div class="image-container">
                                                                    <img [src]="charg"  >
                                                                  </div>
                                                                </div> 
                                                                <div *ngIf="!inchargement" class="table-responsive">
                                                                  <button  *ngIf="typepaiement=='out'"  (click)="tempaddpaie(templateaddpaie)" class="btn btn-primary btn-circle btn-circle-sm m-1 " title="Ajouter"><i class="fa fa-plus "></i></button>
                                                                  <button   (click)="listpaiementrefrech()" class="btn btn-warning btn-circle btn-circle-sm m-1 " title="liste des récents Paiements effectués"><i class="fa fa-list "></i></button>  
                                                                  <button   (click)="getpaiementsinvalide()" class="btn btn-danger btn-circle btn-circle-sm m-1 " title="Liste des Paiements à valider."><i class="fa fa-check-square "></i></button>                                                       
                           
                                                                  <button   style="outline: none;"   (click)="exporttoexcel()"  class="image"><img class="excel"   [src]="excel"  > </button>                               <br>
                                                        
                                                                  <table class="table align-items-center table-flush">
                                                                    <thead class="thead-light">
                                                                      <tr class="entete">
                                                                        <th scope="col">Date</th>
                                                                        <th *ngIf="typepaiement=='in'" scope="col">Patient</th>
                                                                        <th *ngIf="typepaiement=='out'" scope="col">Description</th>
                                                                        <th  scope="col">DÉTAILS</th>
                                                                        <th  class="text-center"  scope="col">Actions</th>
                                                                        
                                                                       
                                                                      </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                      <tr *ngFor="let paie of paiementfiltrer | paginate: {id:'pagination2', itemsPerPage: 20, currentPage: pages}">
                                                                        <td>
                                                                          <span class="badge badge-dot mr-4">
                                                                          {{paie.pdate| date:'dd'}}-{{getMonthName(paie.pdate| date:'MM')}}-{{paie.pdate| date:'yyyy'}}
                                                                        </span>
                                                                        </td>
                                                                        <th scope="row">
                                                                          <div class="media align-items-center">
                                                                            <a *ngIf="typepaiement=='in'" [routerLink]="['/profile', paie.ppid]" target="_blank" class="avatar rounded-circle mr-3">
                                                                              <img alt="Image placeholder"src="assets/profiles/img{{paie.ppid}}.png?random={{randomNumber}}"  onerror="this.src='assets/profiles/defaut.png'">
                                                                            </a>
                                                                            <div class="media-body">
                                                                              <span *ngIf="typepaiement=='in'" class="mb-0 text-sm"><a >{{paie.pnom }}</a></span>
                                                                              <span *ngIf="typepaiement=='out'" class="mb-0 text-sm"><a >{{paie.pdesc }}</a></span>
                                                                            </div>
                                                                          </div>
                                                                        </th>
                                                                        
                                                                        <td>
                                                                         
                                                                          <span class="badge badge-dot mr-4">
                                                                            <i class="bg-warning"></i> {{paie.pmnt}} UM
                                                                          </span>
                                                                          <br>
                                                                          <span class="badge badge-dot mr-4">
                                                                            <i class="bg-warning"></i> {{getmodeById(paie.pmode)}}
                                                                          </span>
                                                                         
                                                                        </td>
                                                                        <td>
                                                                          <div class="primary-btn">
                                                                            <button id="deleteButton" (click)="tempinforendez(paie.pnote)"class="btn btn-info btn-circle btn-circle-sm m-1" title="Info"><i class="fa fa-info"></i></button>
                                                                            <button *ngIf="paiementinvalide && this.role=='superadmin'" id="editButton" (click)="validepaiement(paie.pid)" class="btn btn-success btn-circle btn-circle-sm m-1" title="Modifier"><i class="fa fa-check"></i></button>
                                                                            <button [disabled]="!paiementinvalide && this.role!=='superadmin'" id="editButton" (click)="tempmodpaie(templatemodpaie,paie.pid)" class="btn btn-primary btn-circle btn-circle-sm m-1" title="Modifier"><i class="fa fa-edit"></i></button>
                                                                            <button [disabled]="!paiementinvalide && this.role!=='superadmin'" id="deleteButton" (click)="delpaie(paie.pid)"  class="btn btn-danger btn-circle btn-circle-sm m-1" title="Supprimer"><i class="fa fa-trash"></i></button>

                                                                          </div>
                                                                      </td>
                                                                      </tr>
                                                              
                                                                      
                                                                    </tbody>
                                                                  </table>
                                                                  <pagination-controls id="pagination2" (pageChange)=" pages = $event" previousLabel="" nextLabel="" class="page"></pagination-controls>
                                                    
                                                                </div>
                                                                
                                                              </div>
                                                            </div>
                                                          </div>
                                                        
                                                     
                      </tab>
                      <tab (selectTab)="selectdossier()">   <ng-template  tabHeading>
                        <span class="title">Dossiers Médicaux</span>
                      </ng-template>
                <br>
                <div class="row">

                  <div class="col">
                    <div class="card shadow">
                    <div class="card-header border-0">
                      <h3 class="mb-0" >Dossiers Médicaux [{{this.dossiers.length}}] </h3>
                    
                    </div>
                    <div  *ngIf="inchargement" class="chargcontainer">
                      <div class="image-container">
                      <img [src]="charg"  >
                      </div>
                    </div> 
                    <div *ngIf="!inchargement" class="table-responsive">
                     
                      <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr class="entete">
                        <th scope="col">Date</th>
                        <th >Patient</th>
                        <th  scope="col">Montant Total</th>
                        <th *ngIf=" this.role=='superadmin'" class="text-center"  scope="col">Actions</th>
                        
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dos of dossiers | paginate: {id:'pagination3', itemsPerPage: 20, currentPage: pages}">
                        <td>
                          <span class="badge badge-dot mr-4">
                          {{dos.ddate| date:'dd'}}-{{getMonthName(dos.ddate| date:'MM')}}-{{dos.ddate| date:'yyyy'}}
                        </span>
                        </td>
                        <th scope="row">
                          <div class="media align-items-center">
                          <a  [routerLink]="['/profile', dos.dpid]" target="_blank" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder"src="assets/profiles/img{{dos.dpid}}.png?random={{randomNumber}}"  onerror="this.src='assets/profiles/defaut.png'">
                          </a>
                          <div class="media-body">
                            <span  class="mb-0 text-sm"><a >{{dos.pnom }}</a></span>
                           
                          </div>
                          </div>
                        </th>
                        
                        <td>
                         
                          <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> {{dos.dmntar}} UM
                          </span>
                         
                         
                         
                        </td>
                        <td *ngIf=" this.role=='superadmin'">
                          <div  class="primary-btn">
                          <button  id="editButton" (click)="validedossier(dos.did)" class="btn btn-success btn-circle btn-circle-sm m-1" title="Modifier"><i class="fa fa-check"></i></button>
                          </div>
                        </td>
                        </tr>
                    
                        
                      </tbody>
                      </table>
                      <pagination-controls id="pagination3" (pageChange)=" pages = $event" previousLabel="" nextLabel="" class="page"></pagination-controls>
                  
                    </div>
                    
                    </div>
                  </div>
                  </div>
              </tab>
                  </tabset>    
            </div>
             

               <ng-template #templateaddpaie>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Ajouter Paiement</h4>
                  <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 
                      
                        <div class="c1">
                          <form [formGroup]="formAddpaie" (ngSubmit)="addpaie()" >
                            <div class="row">
                                <div class="col" >
                                  <label class="labelmod">Description <span>*</span></label>
                                  <input  class="input"   type="text" formControlName="DESC" >
                                </div>
                                <div class="col" >
                                 
                     
                                </div>
                                  </div>
                            <div class="row">
                          <div class="col" >
                            <label class="labelmod" for="Nom">Date <span>*</span></label>
                            <input  class="input"   type="date" formControlName="DT" >
                          </div>
                          <div class="col" >
                            <label class="labelmod" >Mode de paiement<span>*</span> </label>
                            <select    formControlName="MODE" >
                                <option *ngFor="let mode of modepaie"  value="{{mode.mpid}}">{{mode.mpnm}}</option>  
                            </select>
               
                          </div>
                            </div>
                            <div class="row">
                              
                    
                              <div class="col" >
                                <div class="col" >
                                  <label class="labelmod" for="Nom">Montant <span>*</span></label>
                                  <input  class="input"   type="number" formControlName="MNT" >
                                </div>
                          </div>
                          <div class="col" >
                            <label class="labelmod">Notes  </label>
                            <textarea formControlName="NOTE" cols="10" rows="5"></textarea>
                      </div>
                         
                        </div>
                       
                           
                    
                    
                           
                      <br>
                      
                 
              
                            <div  *ngIf="formAddpaie.invalid">
                              <div   class="errorModEmp" >les champs avec étoiles sont obligatoires</div>
                            </div>
                            <input type="submit" [disabled]="buttondisable==true"  value="Ajouter">
                           
                           
                       
              
                      
                          </form>
              
                  </div>
                  </div>
                  </ng-template>  
        <ng-template #templatemodpaie>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Modifier Paiement</h4>
            <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
                
                  <div class="c1">
                    <form [formGroup]="formAddpaie" (ngSubmit)="modpaie()" >
                        <div *ngIf="typepaiement=='out'" class="row" >
                            <div class="col" >
                              <label class="labelmod">Description <span>*</span></label>
                              <input  class="input"   type="text" formControlName="DESC" >
                            </div>
                            <div class="col" >
                             
                 
                            </div>
                              </div>
                      <div class="row">
                    <div class="col" >
                      <label class="labelmod" for="Nom">Date <span>*</span></label>
                      <input  class="input"   type="date" formControlName="DT" >
                    </div>
                    <div class="col" >
                      <label class="labelmod" >Mode de paiement<span>*</span> </label>
                      <select    formControlName="MODE" >
                        <option *ngFor="let mode of modepaie"  value="{{mode.mpid}}">{{mode.mpnm}}</option>  
                      </select>
          
                    </div>
                      </div>
                      <div class="row">
                        
              
                        <div class="col" >
                          <div class="col" >
                            <label class="labelmod" for="Nom">Montant <span>*</span></label>
                            <input  class="input"   type="number" formControlName="MNT" >
                          </div>
                    </div>
                    <div class="col" >
                      <label class="labelmod" >Validation <span>*</span></label>
                      <select  [attr.disabled]="this.role !== 'superadmin' ? true : null"  formControlName="PVALIDE" >
                        <option   value=false >Encours</option>
                        <option   value=true >Validé</option>
                      </select>
                    </div>
                   
                   
                  </div>
                  
                  <div class="row">
                    <div class="col" >
                      <label class="labelmod">Notes  </label>
                      <textarea formControlName="NOTE" cols="10" rows="5"></textarea>
                </div>
                <div class="col" ></div>
                    </div>
              
              
                      
                <br>
                
            
        
                      <div  *ngIf="formAddpaie.invalid">
                        <div   class="errorModEmp" >les champs avec étoiles sont obligatoires</div>
                      </div>
                      <input type="submit" [disabled]="buttondisable==true"  value="Modifier">
                      
                      
                  
        
                
                    </form>
        
            </div>
            </div>
            </ng-template>  
            <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
              <div class="modal-content  px-md-4 p-sm-3 p-4">
              
             
                <a  (click)="closetempinforendez()"> <i class="fa fa-close"></i></a>
                <p class="r3 px-md-5 px-sm-1">{{ note ? note : 'aucune note' }}</p>         
                  
                  
              </div>
          
      </div>
            </body>


            </html>
