<html>
    
    <body  id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' (click)="toggleNavbar()" id="header-toggle"></i> </div>
			
           <div class="header_user">
        <div class="header_text">Meden Belkasem</div>
        <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
    </div>
        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> 
                    <a href="#" class="nav_logo"> 
                        <i class='bx bx-layer nav_logo-icon'></i> 
                        <span class="nav_logo-name">CKRF</span> 
                    </a>
                    <div class="nav_list"> 
                       
                        <a href="#" class="nav_link active"> 
                            <i class='bx bx-user nav_icon'></i> 
                            <span class="nav_name">Patients</span> 
                        </a> 
                        <a href="#" class="nav_link"> 
                            <i class='bx bx-calendar nav_icon'></i> 
                            <span class="nav_name">Rendez-Vous</span> 
                        </a> 
                        <a href="#" class="nav_link"> 
                            <i class='bx bx-calculator nav_icon'></i> 
                            <span class="nav_name">Comptabilité</span> 
                        </a> 
                        
                        <a href="#" class="nav_link"> 
                            <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                            <span class="nav_name">Statistique</span> 
                        </a> 
                        <a href="#" class="nav_link "> 
                          <i class='bx bx-grid-alt nav_icon'></i> 
                          <span class="nav_name">RH</span> 
                      </a> 
                        <a href="#" class="nav_link"> 
                          <i class='bx bx-certification nav_icon'></i> 
                          <span class="nav_name">Administration</span> 
                      </a> 
                    </div>
                </div> 
                <a href="#" class="nav_link"> 
                    <i class='bx bx-log-out nav_icon'></i> 
                    <span class="nav_name">Déconnexion</span> 
                </a>
            </nav>
        </div>

               <!--Container Main start-->
               <div class="height-100 bg-light">
                <div class="btm"><br></div>
		
                <div class="event-schedule-area-two bg-color ">
                
                <div class="container">
                    
                    <!-- row end-->
                    <div class="row">
                        
                            
                            <div class="tab-content" id="myTabContent">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-4"> <label>Date Début</label> <input [(ngModel)]="this.stardate" type="date" class="form-control"> </div>
                                        <div class="col-md-4"> <label>Date Fin</label> <input [(ngModel)]="this.enddate" type="date" class="form-control"> </div>
                                        <div class="col-md-2"> <label style="height: 47px;"> </label><button (click)="chercher()" class="btn btn-primary pro-button w-20"><i class="fa fa-search ml-2"></i></button> </div>
                                        <div class="col-md-1"> <label > État</label> <select [(ngModel)]="etatselected"  (ngModelChange)="filtreretat($event)"    >
                                            <option  value="Tous" >Tous</option>
                                            <option   value="En attente" >En attente</option>
                                            <option style='color:green'   value="Confirmé" >Confirmé</option>
                                            <option  style='color:red'   value="Annulé" >Annulé</option>
                                          </select></div>
                                    </div>
                                </div>
                               
                                <button   style="outline: none;"   (click)="exporttoexcel()"  class="image"><img class="excel"   [src]="excel"  > </button>                               <br>
                               
                                <div  *ngIf="inchargement" class="chargcontainer">
                                <div class="image-container">
                                  <img [src]="charg"  >
                                </div>
                              </div> 
                              
                                    <div  *ngIf="!inchargement" class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr >
                                                    <th class="text-center" scope="col">Date</th>
                                                    <th scope="col">Photo</th>
                                                    <th scope="col">Patient</th>
                                                    <th  class="text-center">État</th>
                                                    
                                                </tr>
                                            </thead>
                                           
                                            <tbody  >
                                               
                                                <tr  *ngFor="let ev of eventsfiltrer | paginate: {id:'pagination', itemsPerPage: 10, currentPage: pages}" class="inner-box">
                                                    <th scope="row">
                                                        <div class="event-date">
                                                            <span>{{ev.edate| date:'dd'}}</span>
                                                            <br>
                                                            <a >{{getMonthName(ev.edate| date:'MM')}}</a>
                                                            <br>
                                                            <span>{{ev.edate| date:'yyyy'}}</span>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        <div class="event-img">
                                                            <img  src="assets/profiles/img{{ev.pid}}.png?random={{randomNumber}}"  onerror="this.src='assets/profiles/defaut.png'" alt="" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="event-wrap">
                                                            <h3><a [routerLink]="['/profile', ev.pid]" target="_blank">{{ ev.pnom }}</a></h3>
                                                            <div class="meta">
                                                               
                                                                
                                                                <div class="time">
                                                                    <span> <i class="fa fa-clock-o "></i> {{ ev.etime | slice: 0:5 }}  <i class="fa fa-phone"></i> {{ ev.ptel }} <button (click)="tempinforendez(ev.enote)" id="deleteButton"class="btn btn-info btn-circle btn-circle-sm m-1" title="Info"><i class="fa fa-info"></i></button></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="primary-btn">
                                                            <a *ngIf="ev.estat=='En attente'" (click)="eventstat(ev.eid)" [style.color]="getColorByStatus(ev.estat)">  {{ ev.estat }}</a>
                                                            <a *ngIf="ev.estat!='En attente'" (click)="intialiseretat(ev.eid)" [style.color]="getColorByStatus(ev.estat)">  {{ ev.estat }}</a>

                                                        </div>
                                                    </td>
                                                </tr>
                                              
                                            </tbody>
                                        </table>
                                        <pagination-controls id="pagination" (pageChange)=" pages = $event" previousLabel="" nextLabel="" class="page"></pagination-controls>

                                    </div>
                                </div>
                       
                           
                        
                        
                        <!-- /col end-->
                    </div>
                    <!-- /row end-->
                </div>
            </div>
               </div>

                                 
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
        <div class="modal-content  px-md-4 p-sm-3 p-4">
        
       
          <a  (click)="closetempinforendez()"> <i class="fa fa-close"></i></a>
          <p class="r3 px-md-5 px-sm-1">{{ note ? note : 'aucune note' }}</p>         
            
            
        </div>
    
</div>
            </body>


            </html>