<html>
    
    <body  id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' (click)="toggleNavbar()" id="header-toggle"></i> </div>
			
           <div class="header_user">
        <div class="header_text">Meden Belkasem</div>
        <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
    </div>
        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> 
                    <a href="#" class="nav_logo"> 
                        <i class='bx bx-layer nav_logo-icon'></i> 
                        <span class="nav_logo-name">CKRF</span> 
                    </a>
                    <div class="nav_list"> 
                       
                        <a href="#" class="nav_link active"> 
                            <i class='bx bx-user nav_icon'></i> 
                            <span class="nav_name">Patients</span> 
                        </a> 
                        <a href="#" class="nav_link"> 
                            <i class='bx bx-calendar nav_icon'></i> 
                            <span class="nav_name">Rendez-Vous</span> 
                        </a> 
                        <a href="#" class="nav_link"> 
                            <i class='bx bx-calculator nav_icon'></i> 
                            <span class="nav_name">Comptabilité</span> 
                        </a> 
                        
                        <a href="#" class="nav_link"> 
                            <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                            <span class="nav_name">Statistique</span> 
                        </a> 
                        <a href="#" class="nav_link "> 
                          <i class='bx bx-grid-alt nav_icon'></i> 
                          <span class="nav_name">RH</span> 
                      </a> 
                        <a href="#" class="nav_link"> 
                          <i class='bx bx-certification nav_icon'></i> 
                          <span class="nav_name">Administration</span> 
                      </a> 
                    </div>
                </div> 
                <a href="#" class="nav_link"> 
                    <i class='bx bx-log-out nav_icon'></i> 
                    <span class="nav_name">Déconnexion</span> 
                </a>
            </nav>
        </div>

        <div class="height-100 bg-light">
            <div class="btm"><br></div>
            <div class="card">
                <br>
                <div class="row">
                    
                    <div class="col-md-3"> <label>Date Début</label> <input [(ngModel)]="this.stardate" type="date" class="form-control"> </div>
                    <div class="col-md-3"> <label>Date Fin</label> <input [(ngModel)]="this.enddate" type="date" class="form-control"> </div>
                    <div class="col-md-3"> <label style="height: 47px;"> </label><button (click)="chercher()" class="btn btn-primary  w-20"><i class="fa fa-search ml-2"></i></button> </div>
        
                    <div class="col-md-2"> <label > État</label> <select   [(ngModel)]="etat"  (ngModelChange)="filtrerEtat($event)"  >
                        <option  value="Tous" >Tous</option>
                        <option  value="encours" >Encours</option>
                        <option  value="inactive" >inactif</option>
                 
                      </select></div>
                </div>
                <br>
            </div>
            <div class="btm"><br></div>
                <div class="container-fluid">
                    
                <div class="header-body">
                    <br>
                <div class="row">
                <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                <div class="row">
                <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Patients </h5>
                <span class="h2 font-weight-bold mb-0">{{totalMasculin+totalFeminin}}</span>
                </div>
                <div class="col-auto">
                <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                <i class="fa fa-users"></i>
                </div>
                </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                
                    <span class="text-white mr-2"><i class="fa fa-arrow-up"></i>  </span> 
                    
                </p>
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                <div class="row">
                <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Masculins </h5>
                <span class="h2 font-weight-bold mb-0">{{totalMasculin}}</span>
                </div>
                <div class="col-auto">
                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <i class="fa fa-male"></i>
                </div>
                </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{(totalMasculin / (totalMasculin+totalFeminin))*100 | number : '1.2-2'}} %</span>
                </p>
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                <div class="row">
                <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Féminins</h5>
                <span class="h2 font-weight-bold mb-0">{{totalFeminin}}</span>
                </div>
                <div class="col-auto">
                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fa fa-female"></i>
                </div>
                </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{(totalFeminin / (totalMasculin+totalFeminin))*100 | number : '1.2-2'}} %</span>
                </p>
                </div>
                </div>
                </div>
                
                </div>
                <br>
                </div>
                </div>
                </div>
                <!-- Page content -->
                <ng-template #templatepatientez>
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">Modifier Seances</h4>
                      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div   class="chargcontainer">
                            <div class="image-container">
                              <img [src]="charg"  >
                            </div>
                          </div> 
                        </div>
                        </ng-template>
        
        </body> </html>