
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
          
            <div class="col-lg-12">
                <div class="card2 card border-0 ">
                   
                    <div class="col-lg-12  px-3 justify-content-center mt-4 mb-5 ">
                        <div class="btnn">
                        <img  src="{{logo}}" width="380" height="280">
                    </div>
                    </div>
                    <form [formGroup]="formLogin" (ngSubmit)="login()" >
                    <div class="col-lg-12  justify-content-center ">
                        <div >
                            <label  ><h6 class="labelmod">Nom D'utilisateur : </h6></label> 
                        </div>
                        <div class="row mb-3 px-3">
                            <input type="text" formControlName="username"  placeholder="Nom D'utilisateur .. ">
                        </div>
                    
                        <div >
                            <label ><h6  class="labelmod" >Mot de passe : </h6></label> 
                        </div>
                        <div class="row mb-3 px-3">
                            <input type="password"  formControlName="mdp" name="password" placeholder="Mot de passe .. ">
                        </div>
                     
                        <div class="row mb-3 px-3">
                            <div class="btnn">
                                <button type="submit" [disabled]="buttondisable==true" class="btn btn-blue text-center">Se Connecter</button>
                            </div>
                        </div>
                    </div>
                </form>
              
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Jemila Centre de Kinesitherapie &copy; {{currentYear}}</small>
                
            </div>
        </div>
    </div>
</div>
</div>